<div class="row">
    <div class="col-md-8">
        <div class="media">
            <br />
            <% avatar_url = @user.avatar_url(128) %>
            <% if avatar_url %>
                <div class="media-left">
                    <%= image_tag avatar_url, class: 'media-object' %>
                </div>
            <% end %>
            <div class="media-body">
                <h2 class="media-heading"><%= @user.name %></h2>
                <small>
                    <%= pluralize(@user.posts.count, 'post') %>,
                    <%= pluralize(@user.comments.count, 'comment') %>
                </small>
            </div>
        </div>
    </div>
    <% @user.favorites.each do |f| %>
    <h4><%= image_tag f.user.avatar_url(28) %> <%= f.post.title %> <%= f.post.comments.count %> Comments <%= f.post.votes.count %> Votes </h4>
    <% end %>
</div>

<h2>Posts</h2>
<%= post_history(@user) %>

<h2>Comments</h2>
<%= comment_history(@user) %>